<div class="first-view">
  <%= image_tag 'topimage.png', class: 'top-image' %>
</div>
<div class='title-contents'>
    <h2 class='service-title'>
      手軽で簡単な書類作成アプリ
    </h2>
    <p class='service-explain'>
      書式依頼常時受付（将来予定）
    </p>
</div>
