<div class="side-bar-header">
  <div class="header-name">
    <a href="#">EWquick</a>
  </div>
</div>
<%# メインメニュー関係 %>
<div class="menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">ホーム</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">見積書</a>
    </div>
  </div>
</div>
<%# 見積補助項目入力関係 %>
<div class="input_menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">作成者</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">取引先</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">品目管理</a>
    </div>
  </div>
</div>
<%# ユーザー管理関係 %>
<div class="user_menus">
  <div class="menu">
    <div class="menu-name">
      <a href="#">新規登録</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">マイページ</a>
    </div>
  </div>
  <div class="menu">
    <div class="user_menu-name">
      <a href="#">ログイン</a>
    </div>
  </div>
</div>