<table class="table">
  <thead>
    <tr>
      <th class="table__col1">品目・作業内容</th>
      <th class="table__col2">数量</th>
      <th class="table__col3">単価</th>
      <th class="table__col4">金額計</th>
      <th class="table__col5">人工</th>
      <th class="table__col6">人工計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table__col1">照明設備器具１</td>
      <td class="table__col2">5</td>
      <td class="table__col3">5000</td>
      <td class="table__col4">25000</td>
      <td class="table__col5">0.5</td>
      <td class="table__col6">2.5</td>
      </tr>
      <tr>
      <td class="table__col1">照明設備器具２</td>
      <td class="table__col2">10</td>
      <td class="table__col3">7000</td>
      <td class="table__col4">70000</td>
      <td class="table__col5">0.5</td>
      <td class="table__col6">5.0</td>
      </tr>
      <tr>
      <td class="table__col1">壁化粧板１</td>
      <td class="table__col2">100</td>
      <td class="table__col3">8000</td>
      <td class="table__col4">800000</td>
      <td class="table__col5">1.0</td>
      <td class="table__col6">100</td>
      </tr>
      <tr>
      <td class="table__col1">照明調整費用</td>
      <td class="table__col2">15</td>
      <td class="table__col3">-</td>
      <td class="table__col4">-</td>
      <td class="table__col5">0.4</td>
      <td class="table__col6">6.0</td>
      </tr>
      <tr>
      <td class="table__col1">工事費用計</td>
      <td class="table__col2">130人工</td>
      <td class="table__col3">25000</td>
      <td class="table__col4">3250000</td>
      <td class="table__col5">-</td>
      <td class="table__col6">-</td>
      </tr>
      <tr>
      <td class="table__col1">運搬・雑材費</td>
      <td class="table__col2">1式</td>
      <td class="table__col3">20000</td>
      <td class="table__col4">20000</td>
      <td class="table__col5">-</td>
      <td class="table__col6">-</td>
      </tr>
      <tr>
      <td class="table__col1">福利厚生費（工事費の16%）</td>
      <td class="table__col2">1式</td>
      <td class="table__col3">-</td>
      <td class="table__col4">520000</td>
      <td class="table__col5">-</td>
      <td class="table__col6">-</td>
      </tr>
      <tr>
      <td class="table__col1">経費計</td>
      <td class="table__col2">1式</td>
      <td class="table__col3">-</td>
      <td class="table__col4">540000</td>
      <td class="table__col5">-</td>
      <td class="table__col6">-</td>
      </tr>
      <tr>
      <td class="table__col1">金額合計</td>
      <td class="table__col2"></td>
      <td class="table__col3"></td>
      <td class="table__col4">3945000</td>
      <td class="table__col5">-</td>
      <td class="table__col6">-</td>
      </tr>
  </tbody>
</table>