<%= form_with model: @preparer, url: "/items", class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <div class='form-header-text'>
      見積作成
    </div>
  </div>
  <div class="user__wrapper">
      <%= render partial: 'items/item' %>
  </div>

  <div class='new-btn'>
    <%= link_to "見積新規登録", root_path, method: :get, class: "new-red-btn" %>
  </div>

</div>
<% end %>